<div class="w-50 mx-auto ">
  <h4 class="text-center">送信内容確認</h4>
    <p><%= @name%>様</p>
    <p>
    【送信内容】
    </p>
    <p>
    <%= @body%>
    </p>
    =======================================
    <p>
    上記の内容でお間違いのないようでしたら</br>
    </p>
</div>