<div class="about-top">
  <div class="container">
    <div class="mx-auto">
      <h2 class="fs-1 m-4 text-center about-title">代表挨拶</h2>
        <p class="text-center about-description">
          <p>近年では「フードロス」という言葉に続き、「ロスフラワー」という言葉が生まれています。</p>
          <P>「ロスフラワー」とは、まだ十分に楽しめる花だけれども廃棄される予定の花のことを言います。</p>
          <p>このことが社会問題として世間では注目されるようになってきています。</p>
          <p>そこで、この廃棄するにはもったいない「ロスフラワー」を十分に活かせる場を作りたいという想いで</p>
          <p>この教室を立ち上げました。</p>
          <p>レッスン形態は、来室タイプとZOOMタイプをご用意しています。</p>
          <p>皆さんもフラワーアレンジメントスクールで楽しい趣味を見つけ、共通の趣味を持つ仲間と一緒に</p>
          <p>楽しい時間を過ごしてみませんか。</p>
          <p>笑顔でお待ちしております。</p>
        </p>
    </div>
  </div>
</div>