<div class="w-25 mx-auto">
  <h4>予約カレンダー</h4>
    <%= month_calendar do |date| %>
    <% if reservation=Reservation.where(user_id: current_user.id).where("lesson_datetime >= ? AND lesson_datetime < ?", date, (date + 1))&.first %>
      <%= link_to date.day,edit_public_reservation_path(reservation) %>
    <% else %>
    <%=date.day %>
    <% end %>
    <% end %>
</div>