<div class="course-top">
  <div class="w-50 mx-auto mt-5">
    <h4>レッスン内容(コース一覧)</h4>
    <div class="media text-black">
      <div class="media-body text-center">
        <h5 class="mt-3"><来室レッスン></h5>
        フラワーアレンジメント 月3回コース 月謝・お花代 10,500円</br>
        フラワーアレンジメント 月2回コース 月謝・お花代 7,000円</br>
        フラワーアレンジメント 月1回コース 月謝・お花代 3,500円</br>

      <div class="media">
        <div class="media-body text-center">
          <h5 class="mt-3"><ｚｏｏｍレッスン></h5>
          フラワーアレンジメント 月3回コース 月謝・お花代 12,000円</br>
          フラワーアレンジメント 月2回コース 月謝・お花代 8,000円</br>
          フラワーアレンジメント 月1回コース 月謝・お花代 4,000円</br>
        </div>
      </div>

        <p class="mt-5 text-center">
          ・尚、内容は来室レッスンもｚｏｏｍレッスンも同じものとなっております。</br>
          また、第4週目以降に新規登録をされた場合は、<strong class="text-danger">翌月の1週目がレッスン日</strong>となります。
        </p>
      </div>
    </div>
  </div>
</div>