<div class="container">
  <div class="row">
    <div class="mx-auto mt-5">
      <h2 class="fs-1 m-4 text-center">～ようこそ　お花の世界へ～</h2>
        <p class="text-center">
          フラワーアレンジメントスクールでは誰でも気軽にできる趣味として、</br>
          また本格的に学びたい人にも満足できるレッスンを多くご用意しております。</br>
          ぜひ、ご覧下さいませ。
        </p>
    </div>
  </div>
</div>

