@import '~bootstrap/scss/bootstrap';

.image-top {
  background-image: url('../images/image-top.jpg');
  height: 91vh;
  background-position: 50%, 50%;
  background-size: cover;

  &__title {
    padding-top: 10%;
  }

  &__description {
    padding-top: 5%;
    p {
      margin: 0;
      text-align: center;
    }
  }
}

.about-top {
  background-image: url('../images/about-top.jpg');
  height: 91vh;
  background-position: 50%, 50%;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 10px;

  .container {

    p {
        margin: 0;
        text-align: center;
    }
  }
}

.course-top {
  background-image: url('../images/course-top.jpg');
  height: 91vh;
  background-position: 50%, 50%;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 30px;
}